<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col">
                        <h3>Админ панель</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col border border-dark">
                        <a asp-controller="Admin" asp-action="CategoriesAndServices">Категории и Услуги</a>
                    </div>
                    <div class="col border border-dark">
                        <a asp-controller="Admin" asp-action="Specialists">Специалисты</a>
                    </div>
                    <div class="col border border-dark">
                        <a asp-controller="Admin" asp-action="Comments">Отзывы</a>
                    </div>
                    <div class="col border border-dark">
                        <a asp-controller="Admin" asp-action="Price">Цены</a>
                    </div>
                    <div class="col border border-dark">
                        <a asp-controller="Admin" asp-action="Contacts">Контакты</a>
                    </div>
                    <div class="col border border-dark">
                        <a asp-controller="Admin" asp-action="About">О нас</a>
                    </div>
                    <div class="col border border-dark">
                        <a asp-controller="Admin" asp-action="@nameof(AdminController.Logout)">Выход</a>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()

        <footer>

        </footer>
    </body>
</html>