@model ShopOfServices.ViewModels.Admin.EditCategoryViewModel
@{
    Layout = "_AdminLayout";
}

<h1>Редактировать категорию</h1>
<form asp-controller="Admin" asp-action="EditCategory" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Id" type="hidden" />
    <div>
        <label>Название</label>
        <input asp-for="Name" type="text" />
    </div>
    <div>
        <label>Изображение</label>
        <img src="@Model?.OldImagePath" height="300" width="200" />
        <input asp-for="NewImageFile" type="file" accept="image/jpeg, image/png" />
    </div>
    <div>
        <label>Короткое описание</label>
        <input asp-for="Description" type="text" />
    </div>
    <div class="container-fluid">
        @if (Model.Services != null)
            @for (int i = 0; i < Model.Services.Length; i++)
            {
                <input id="Services" type="text" value="@Model.Services[i].Name"/>
            }
    </div>
    <div class="container-fluid">
        <input id="Services" type="text" />
    </div>
    <input type="submit" value="Сохранить" />
</form>
