@model ShopOfServices.ViewModels.Admin.EditCategoryViewModel
@{
    Layout = "_AdminLayout";
}

<script src="~/js/editcategory.js"></script>

<h1>Редактировать категорию</h1>
<form asp-controller="Admin" asp-action="EditCategory" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Id" type="hidden" />
    <div>
        <label>Название</label>
        <input asp-for="Name" type="text" />
    </div>
    <div>
        <label>Изображение</label>
        <img src="@Model?.OldImagePath" height="300" width="200" />
        <input asp-for="NewImageFile" type="file" accept="image/jpeg, image/png" />
    </div>
    <div>
        <label>Короткое описание</label>
        <input asp-for="Description" type="text" />
    </div>
    <div id="oldServicesInputFieldsContainer" class="container-fluid">
        @if (Model.Services != null)
            @for (int i = 0; i < Model.Services.Length; i++)
            {
                <div>
                    <input asp-for="@Model.Services[@i].Id" type="hidden"/>
                    <input asp-for="@Model.Services[@i].Name" type="text"/>
                </div>
            }
    </div>
    <div id="servicesInputFieldContainer" class="container-fluid">
        <div>
            <input name="Services[@(Model.Services != null ? Model.Services.Length : 0)].Name" type="text" />
        </div>
    </div>
    <div>
        <button onclick="addServiceInput()" type="button">+</button>
    </div>
    <input type="submit" value="Сохранить" />
</form>
