@model ShopOfServices.ViewModels.Admin.EditCategoryViewModel
@{
    Layout = "_AdminLayout";
}

<script src="~/js/editcategory.js"></script>

<section class="px-2 mb-1 w-100 text-center">
        <h3>Редактировать категорию</h3>
</section>

<section class="px-4">
    <div class="container">
        <form asp-controller="Admin" asp-action="EditCategory" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All"></div>
            <input asp-for="Id" type="hidden" />
            <div class="mb-3">
                <label class="form-label">Название</label>
                <input class="form-control" asp-for="Name" type="text" />
            </div>
            <div class="mb-3">
                <label class="form-label">Изображение</label>
                <p><img src="@Model?.OldImagePath" height="250"/></p>
                <input class="form-control" asp-for="NewImageFile" type="file" accept="image/jpeg, image/png" />
            </div>
            <div class="mb-3">
                <label class="form-label">Короткое описание</label>
                <textarea class="form-control" asp-for="Description" type="text" rows="3"></textarea>
            </div>
            <div>
                <label class="form-label">Услуги</label>
            </div>
            <div id="oldServicesInputFieldsContainer">
                @if (Model.Services != null)
                    @for (int i = 0; i < Model.Services.Length; i++)
                    {
                        <div class="mb-1">
                            <input asp-for="@Model.Services[@i].Id" type="hidden"/>
                            <input class="form-control" asp-for="@Model.Services[@i].Name" type="text"/>
                        </div>
                    }
            </div>
            <div id="servicesInputFieldContainer" class="mb-1">
                <div>
                    <input class="form-control mb-1" placeholder="Новая услуга" name="Services[@(Model.Services != null ? Model.Services.Length : 0)].Name" type="text" />
                </div>
            </div>
            <div class="mb-1">
                <button class="btn btn-outline-secondary" onclick="addServiceInput()" type="button">Добавить услугу</button>
            </div>
            <input class="btn btn-success mb-4" type="submit" value="Сохранить" />
        </form>
    </div>
</section>
