@model ShopOfServices.ViewModels.Admin.LoginViewModel
@{
    Layout = "_Layout";
}

<section class="mb-4">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4">
                <form asp-controller="Admin" asp-action="Login" method="post">
                    <div asp-validation-summary="All"></div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control" type="email" asp-for="Email" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Пароль</label>
                        <input class="form-control" type="text" asp-for="Password" />
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

