@model ShopOfServices.ViewModels.Admin.EditPageViewModel
@{
    Layout = "_AdminLayout";
}
<h2>Редактирование главной страницы</h2>
<form asp-controller="Admin" asp-action="Main" method="post">
	<input type="hidden" asp-for="Id"/>
	<textarea asp-for="Html" id="ckeditor"></textarea>
	<div>
		<input type="submit" value="Сохранить"/>
	</div>
</form>

@await Html.PartialAsync("CKEditorConnectPartial")