@model string
@{
    Layout = "_AdminLayout";
}
<h2>Редактирование главной страницы</h2>
<form asp-controller="Admin" asp-action="Main" method="post">
	<textarea name="html" id="ckeditor">

	</textarea>
	<div>
		<input type="submit" />
	</div>
</form>


<script src="~/ckeditor/ckeditor.js"></script>
<script>
	ClassicEditor
				.create( document.querySelector( '#ckeditor' ), {
					
					licenseKey: '',
					title: {}
				} )
				.then( editor => {
					window.editor = editor;
				} )
				.catch( error => {
					console.error( 'Oops, something went wrong!' );
					console.error( error );
				} );
</script>