@model Specialist[]
@{
    Layout = "_AdminLayout";
}

<section class="px-2 mb-1 w-100 text-center">
    <div>
        <h3>Специалисты</h3>
    </div>
</section>

<section class="px-2">
    <div class="container">
        <div class="mb-1">
            <button class="btn btn-outline-secondary" asp-controller="Admin" asp-action="EditSpecialist">
                Добавить специалиста
            </button>
        </div>
        @foreach (var specialist in Model)
        {
            <div class="border border-2 rounded-1 p-2 mb-1">
                <a class="text-decoration-none text-black" asp-controller="Admin" asp-action="EditSpecialist" asp-route-id="@specialist.Id">
                    <h4>@specialist.GetFIO()</h4>
                    <p>@specialist.Post</p>
                </a>
                <button class="btn-light-danger p-2 rounded-2 border-0 text-white" asp-controller="Admin" asp-action="DeleteSpecialist" asp-route-id="@specialist.Id">Удалить</button>
            </div>
        }
    </div>
</section>
