@model string
@{
    Layout = "_Layout";
}

<section class="p-4">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-8 text-center">
                <h2>О нас</h2>
            </div>
        </div>
        <div class="row justify-content-center gy-4">
            <div class="col">
                <img src="~/Images/static/about.jfif" class="m-3 mt-0 rounded-3" height="350" align="left"/>
                <p>
                    Занимаемся стоматологическим лечением всех видов и любой трудности, но без лишней боли. С чутким подходом устанавливаем первопричину патологий и излечиваем болезнь. В распоряжении наших специалистов все современные методики лечения и профилактики.
                </p>
                <p>
                    Вы можете воспользоваться всеми необходимыми услугами: от терапии и гигиены, до томографии, хирургии и ортодонтии   сделать томографию, избавиться от таких проблем как: кариес, дефекты прикуса, кистозные образования в полости рта, любая хирургическая операция пройдёт с должным вниманием и под чутким руководством. Мы поможем вам отреставрировать повреждённые зубы, устранить боль и дискомфорт сделав ту улыбку, о которой мечтали вы!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-4">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-8 text-center">
                <h2>Лицензия</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <img src="~/Images/static/license.jfif" height="500" />
            </div>
        </div>
    </div>
</section>

<section class="p-4">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-8 text-center">
                <h2>Персональные данные</h2>
            </div>
        </div>
        <div class="row justify-content-center gy-4">
            <p>
                СОГЛАСИЕ ОБ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ В соответствии с Федеральным законом от 27.07.2006 №152-ФЗ  на обработку персональных данных, в том числе сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование, удаление и уничтожение, в том числе автоматизированные, своих персональных данных в специализированной электронной базе данных о моих контактных данных, которые могут быть использованы ООО «Фаст Хелп», при регистрации, при информировании меня о продуктах и услугах, предложения мне продуктов и услуг ООО«Фаст Хелп», и в целях участия в опросах / анкетировании, проводимых ООО «Фаст Хелп» » для изучения и исследования мнения клиентов о качестве обслуживания и услугах ООО «Фаст Хелп» и улучшения качества продукции и обслуживания клиента, при условии гарантии неразглашения данной информации третьим лицам.
            </p>
        </div>
    </div>
</section>