@using ShopOfServices.Controllers;
@model ShopOfServices.ViewModels.Home.NewCommentViewModel
@{
    Layout = "_Layout";
}

<h2>Добавить новый комментарий на @Model.ServiceName</h2>
<form asp-controller="Home" asp-action="@nameof(HomeController.AddComment)" method="post">
    <input type="hidden" asp-for="ServiceId" value="@Model.ServiceId" />
    <input type="hidden" asp-for="ServiceName" value="@Model.ServiceName"/>
    <div asp-validation-summary="All"></div>
    <div class="border border-dark">
        <label>Email</label>
        <input asp-for="Email" type="email"/>
    </div>
    <div class="border border-dark">
        <label>Ваше имя</label>
        <input asp-for="Name" type="text" />
    </div>
    <div class="border border-dark">
        <label>Отзыв</label>
        <textarea asp-for="Message" cols="10" rows="10"></textarea>
    </div>
    <div class="border border-dark">
        <input type="submit" />
    </div>
</form>