@model string
@{
    Layout = "_Layout";
}

<div class="border border-dark">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0a3f2f4f203e71bfb5ad0b8cf63599d9febc072f4b68ddb1172a5a0aa09dff75&amp;width=660&amp;height=474&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
<div class="border border-dark">
    <p>
        ТЦ Палитра​ Проспект Мира, 49а​14 кабинет; 5 этаж
        Новый Город, Центральный район, Набережные Челны, Республика Татарстан, 423809
    </p>
    <p>
        +7-937-522-08-88<br />
        +7-905-370-11-23<br />
        +7-937-586-03-28<br />
    </p>
</div>