@model Category[];
@{
    Layout = "_Layout";
}

@foreach (var category in Model)
{
    <div class="border border-dark">
        @category.Name
    </div>
    foreach (var service in category.Services)
    {
        <div class="border border-light">
            @service.Name
        </div>
    }
}


