@model ICollection<Service>;
@{
    Layout = "_Layout";
}

<div class="container">

    @foreach(var service in Model)
    {
        <div class="row border border-dark m-2">
            <div>
                <a asp-controller="Home" asp-action="@nameof(HomeController.Service)" asp-route-id="@service.Id"><h3>@service.Title</h3></a>
            </div>
            <div>
                <h4>@service.ShortDescription</h4>
            </div>
        </div>
    }

</div>


