@model List<Specialist>
@{
    Layout = "_Layout";
}

<div class="container">
    
    @foreach(var specialist in Model)
    {
        <div class="row">
            <div class="col">
                <a asp-controller="Home" asp-action="@nameof(HomeController.Specialist)" asp-route-id="@specialist.Id"><h3>@specialist.FirstName</h3></a>
            </div>
        </div>
    }

</div>

