body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

h1, h2, h3, h4, h5, h6{
    color: rgba(0, 0, 0, 0.8);
}

.h-header{
    height: 150px;
}

.h-nav{
    
}

.h-nav div{
    display:flex;
    align-items: center;
    justify-content:center;
}

    .h-nav div a {
        font-size: 15px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 500;
        color: #000000;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        opacity: 1 !important;
    }


